/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

#slider {
  background: url('../images/_newsite/web_img/Homepage-first-section.png?126') no-repeat center right;
  background-size: cover;
  margin-bottom: 0px;
}
.webmainpart {
  background: url('../images/_newsite/web_img/WebsiteActualBar.png?124') no-repeat bottom center;
  background-size: cover;
  margin-top: -50px;
}
.main-section-image {
  padding: 0 0 60px;
  margin-top: 2%;
}
.main-section-image img {
  padding: 0 11px 18px;
  display: block;
}
#slider > div {
  min-height: 100vh;
}
#slider .flash-latest-news h3 {
  margin: 0 !important;
  font-weight: normal !important;
}
#slider .display-centrally {
  display: block !important;
  margin-bottom: 0 !important;
}
#slider .vertical-middle {
  margin-top: 0 !important;
  top: 0% !important;
}
#slider .bottom-section {
  position:absolute;
  bottom:0%
}

.btn:focus {
  box-shadow: none;
}

#about {
  /*background: url('../images/_newsite/web_img/ActualAboutPage.png?123') no-repeat top;*/
  /*padding-bottom: 20px;
  background-size: cover;
  min-height: 100vh; */
}

#about .topmargin-lg  , #kpi .topmargin-lg{
  padding-top: 15px;
}
#about .col-lg-4 {
  padding: 0px !important;
  text-align: center;
}
#about .inner-section {
  padding: 40px 34px 0px;
  height: 422px;
  width: 422px;
  border: 2px solid #E0AE27;
  border-radius: 50%;
  text-align: center;
  display: inline-grid !important;
  cursor: pointer;
}
#kpi .inner-section {
  height: 422px;
  cursor: pointer;
}
#decentralized-updates .inner-section {
  padding: 0px;
  height: 12em;
  width: 12em;
  border: 2px solid #E0AE27;
  border-radius: 50%;
  text-align: center;
  display: inline-grid !important;
  cursor: pointer;
  background-color: #000;
}
#decentralized-updates .inner-section h3, #decentralized-updates .inner-section a{
  font-weight: normal;
  margin: auto;
}
#about .inner-section:hover , #kpi .inner-section:hover, #decentralized-updates .inner-section:hover {
  background-color: #E0AE27;
}
#about .inner-section:hover *  , #kpi .inner-section:hover * , #decentralized-updates .inner-section:hover *  {
  color: #0A0A0A;
}
#about .inner-section h2 , #kpi .inner-section h2 {
  margin: 0;
}
#about .col-lg-4 h4 {
  font-size: 16.5px;
  font-weight: normal;
}
#about .inner-section.second-child h4, #about .inner-section.last-child h4 {
  font-size: 19px;
}
.whitepaper img {
  width: 250px;
}

.top-social-btns a.btn {
  height: 38px;
  width: 180px;
  display: inline-block;
  margin: 4px;
  background-color: #000;
}

.teligram-btn {
  background: url('../images/_newsite/web_img/telegram-btn.png?ver=1.2') no-repeat bottom center;
  background-size: cover;
}

.teligram-btn:hover {
  background: url('../images/_newsite/web_img/telegram-btn-hover.png?ver=1.2') no-repeat bottom center;
  background-size: cover;
}

.reddit-btn {
  background: url('../images/_newsite/web_img/reddit-btn.png?ver=1.2') no-repeat bottom center;
  background-size: cover;
}

.reddit-btn:hover {
  background: url('../images/_newsite/web_img/reddit-btn-Hover.png?ver=1.2') no-repeat bottom center;
  background-size: cover;
}

.discord-btn {
  background: url('../images/_newsite/web_img/discord-btn.png?ver=1.2') no-repeat bottom center;
  background-size: cover;
}

.discord-btn:hover {
  background: url('../images/_newsite/web_img/discord-btn-hover.png?ver=1.2') no-repeat bottom center;
  background-size: cover;
}

.previous-btn {
  background: url('../images/_newsite/web_img/previous.png?ver=1.2') no-repeat bottom center;
  background-size: cover;
}

.next-btn {
  background: url('../images/_newsite/web_img/next.png?ver=1.2') no-repeat bottom center;
  background-size: cover;
}

#wallet .lang-btns {
  display: inline-block;
  height: 32px;
  width: 32px;
}

.twitter-timeline {
  max-height:448px;
  overflow-y:auto;
  overflow-x: hidden;
}

.kpi-section .header-container {
  background-color: #E0AE27;
  color: #000;
  padding: 2px 1px 2px;
}
.kpi-section .header-text-container {
  border: 2px solid #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.kpi-section .kpi-heading {
    margin-bottom: 0px;
    font-weight: normal;
}
.kpi-section .box-row {
  padding: 10px;
}
.kpi-section .box-section {
  padding: 10px;
}
.kpi-section .box {
  border: 2px solid #E0AE27;
  border-radius: 6px;
}
.kpi-section .box-header {
  padding: 1px 1px 3px;
  background-color: #E0AE27;
}
.kpi-section .box-header-text {
  color: #000;
  font-weight: normal;
  border: 2px solid #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.kpi-section .inner-section h4, .kpi-section .inner-section h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 19px;
  font-weight: normal;
}
.kpi-section .inner-section h4.color-gold {
  margin-top: 0px;
  margin-bottom: 10px;
}
.kpi-section .inner-section:hover .color-gold {
  color: #0A0A0A !important;
}

#whitepaper {
  background: url('../images/_newsite/resource-sec-background.png') scroll no-repeat bottom/cover;
  background-size: cover;
}

.flash-icon-main {
  width: 40%;
}
.bottommargin-child img {
  margin-left: 5px;
  margin-right: 5px;
}

/*Header background color*/

.dark .fancy-title h1, .dark .fancy-title h2, .dark .fancy-title h3, .dark .fancy-title h4, .dark .fancy-title h5, .dark .fancy-title h6 {
  background: transparent;
}

#wallet .col-lg-3 {
  border-left: 1px solid white;
}
body {
  font-size: 1rem;
  background-color: #0A0A0A !important;
}

.svg-inline--fa {
  width: .775em !important;
}

.color-gold {
  color: #E0AE27 !important;
}
ul.icon-social {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

ul.icon-social li {
  float: left;
}

ul.icon-social li a {
  display: block;
  color: #E0AE27;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 4.5em;
}

ul.icon-social li a span {
  display: block;
  font-size: 0.2em;
}

ul.icon-social li a:hover {
  color: #DA8B22;
}

footer ul.icon-social li a {
  font-size: 1.5em;
  padding: 8px;
}

#feature-flash a {
  text-align: center;
}

#feature-flash a span {
  margin-top: 20px;
  display: block;
}

.dark .form-control:not(.not-dark)[readonly] {
  background-color: rgba(255, 255, 255, 0);
}

.dark .form-control:not(.not-dark) {
  border-color: rgba(0, 0, 0, 0);
}

.entry ul {
  list-style-type: none;
}

.entry {
  padding: 20px !important;
  background-color: rgba(255, 255, 255, 0.02);
  -o-transition: color .2s ease-out, background 3s ease-in;
  -ms-transition: color .2s ease-out, background 3s ease-in;
  -moz-transition: color .2s ease-out, background 3s ease-in;
  -webkit-transition: color .2s ease-out, background 3s ease-in;
  /* ...and now override with proper CSS property */
  transition: color .2s ease-out, background .3s ease-in;
}

.entry:hover {
  background: rgba(255, 255, 255, 0.08)
}

.entry.entry-date-section:hover {
  background: transparent !important;
}

.post-timeline .entry {
  padding-right: 20px !important;
}

a.button.button-rounded.button-reveal.button-large.button-yellow.button-light.tright {
  color: #fff;
}

.anchor {
  padding-top: 100px;
}


/*team*/

.team img {
  display: block;
  margin: 50px auto;
  border-radius: 100%;
  border: 2px solid #E0AE27;
  -webkit-transition: all .3s ease;
}

#merchants .team img {
  border: none;
}

.team img:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
}

#merchants .team img:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.team-overlay:before {
  background: none;
}

.team-social-icons {
  padding-top: 90%;
}

#data-pulled .form-control {
  padding: 0.175rem 0.1rem;
  font-size: 1rem;
  line-height: 0.5;
}

#data-pulled h4 {
  margin: 2px;
}

.col-lg-7 a {
  margin-left: 0;
}

#logo {
  display: none;
}

#primary-menu ul>li.hide-this {
  display: none;
}

.fancy-title.title-border.title-center h1 span, .fancy-title.title-border.title-center h2 span, .dark .fancy-title h3, .dark .fancy-title h4, .dark .fancy-title h5, .dark .fancy-title h6 {
  background: #0A0A0A !important;
}

.fancy-title {
  margin: 30px 0 10px 0;
}

.zl-tweet-area p {
  margin-bottom: 0;
}

/* FAQs Page */
@media(min-width: 991px) {
  .faqs-page #content {
    top: -100px;
  }
  .faqspage #logo {
    display: none !important;
  }
  .faqspage.subpage.sticky-header #logo {
    display: inline !important;
  }
  .faqspage.subpage , .faqspage.subpage #header-wrap {
    background-color: transparent !important;
  }
  .faqspage.subpage.sticky-header , .faqspage.subpage.sticky-header #header-wrap{
    background-color: #0A0A0A !important;
  }
  .faqs-title h3 {
    font-size: 21px;
    font-weight: normal;
  }
}
@media(max-width: 991px) {
  .faqs-page .main-section-image img {
    display: none;
  }
  .faqs-title h3 {
    font-size: 16px;
    font-weight: normal;
  }
  .faqs-title h4 {
    font-size: 14px;
    font-weight: normal;
  }
}
.faqs-page-title {
  font-size: 3rem;
  margin: 0;
}
.faqs-section {
  border: 1px solid #E0AE27;
  margin-bottom: 30px;
}
.faqs-title h3 {
  margin: 0;
  padding: 3px;
}
.faqs-desc-bg {
  background-color: #E0AE27;
  color: #0A0A0A;
  padding: 3px;
}
.faqs-desc-bg h4 {
  border: 2px solid #0A0A0A;
  padding: 3px;
  margin: 0;
  color: #0A0A0A;
  font-weight: normal;
}
.faqs-desc-bg a {
  color: #FFF;
  font-weight: normal;
}
.faqs-desc-bg a:hover {
  color: #0A0A0A;
}
.faqs-desc-bg p {
  margin: 0;
}

/* Custom CSS for Homepage Update */
a.display-centrally {
  width: 100%;
  display: block;
  margin: 20px auto;
}
.flash-latest-news {
  display: inline-flex;
  clear:both;
  padding: 5px 20px;
  background-color:rgba(103, 104, 119, 0.4);
  border-radius: 12px;
}
a.display-centrally img {
  width: 25%;
}
/* Custom CSS Ended */

@media (min-width: 992px) and (max-width: 1641px) {
  .flash-icon-main {
    width: 37%;
  }
  .bottommargin-sm {
    margin-bottom:  20px !important;
  }
  .whitepaper img {
    width: 220px !important;
  }
  .flash-latest-news h2 {
    font-size: 21px;
    margin-bottom: 8px;
  }
  .flash-latest-news h4 {
    margin-top: 8px;
    font-size: 14px;
  }
  #slider .WhitePaperButton img {
    width: 110px !important;
  }
  #slider .LearnMoreButton img {
    width: 210px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #about .inner-section {
    padding: 50px 50px 0px;
    height: 346px;
    width: 346px;
  }
  #kpi .inner-section {
    height: 346px;
  }
  #about .inner-section h4 {
    font-size: 13px;
  }
  #about .inner-section.second-child h4, #about .inner-section.last-child h4 {
    font-size: 15px;
  }
  #kpi .inner-section h4, #kpi .inner-section h3 {
    font-size: 18px;
  }
  #kpi .inner-section h3 {
    margin-top: 30px; 
  }
  .whitepaper img {
    width: 180px !important;
  }
}

@media(min-width: 991px) {
  .main-section-image {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .sticky-header #logo {
    padding-left: 20px;
  }
  .sticky-header #primary-menu li {
    padding: 12px 0 !important;
  }
  .sticky-header #primary-menu li.sub-menu li {
    padding: 0 !important;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  #primary-menu ul li > a {
    padding: 15px 9px;
    font-size: 10px;
  }
  #about .inner-section {
    padding: 40px 40px 0px;
    height: 297px;
    width: 297px;
  }
  #kpi .inner-section {
    height: 320px;
  }
  #about .inner-section h2 , #kpi .inner-section h2 {
    font-size: 23px;
  }
  #about .inner-section h4 {
    font-size: 11.3px;
  }
  #about .inner-section.second-child h4, #about .inner-section.last-child h4 {
    font-size: 15px;
  }
  #kpi .inner-section h4, #kpi .inner-section h3 {
    font-size: 18px;
  }
  .whitepaper img {
    width: 180px !important;
  }
  #slider .WhitePaperButton img {
    width: 110px !important;
  }
  #slider .LearnMoreButton img {
    width: 210px !important;
  }
}
@media (max-width: 991px) {
  #kpi .inner-section {
    height: auto;
  }
}  
@media (max-width: 991px) {

  #primary-menu {
      display: block;
      position: absolute;
      float: none;
      top: 25px;
      margin-left: 63px;
      background-color: #0A0A0A;
      min-width: 200px;
  }
  #logo { display: none !important; }
  .main-section-image, .webmainpart {
    margin-top: 0;
  }

  .main-section-image {
    padding: 0 0 20px;
  }

  a.button {
    white-space: normal;
    height: auto !important;
    text-align: center;
  }
  #about {
    padding-top: 0 !important;
  }
  .vertical-middle {
    padding-bottom: 0 !important;
  }
  .topmargin-lg {
    margin-top: 0 !important;
  }
  .fancy-title {
    margin: 20px 0;
  }
  .heading-block {
    margin: 40px 0 0 0;
    padding: 0 0 25px 0
  }
  #slider {
    height: 100% !important;
    overflow: auto !important;
    padding: 5px 20px 0px;
  }
  #slider .col-lg-5 {
    padding-left: 0;
  }
  #news .col-sm-1 {
    display: none;
  }
  #slider .vertical-middle {
    position: relative !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    top: 0 !important;
    left: 0 !important;
    padding-top: 0 !important;
  }
  .flash-icon-main {
    width: 30%;
  }
  a.display-centrally {
    width: auto !important;
    display: initial !important;
    margin: 20px !important;
  }
  a.display-centrally img {
    width: 13%;
  }
  .flash-latest-news {
    margin: 20px auto !important;
  }

}
@media (max-width: 970px) and (max-height: 650px) {

  #slider .bottom-section {
    position: relative !important;
    bottom:0% !important;
  }
}
@media (max-width: 768px) {
  #slider .WhitePaperButton img {
    width: 110px !important;
  }
  #slider .LearnMoreButton img {
    width: 210px !important;
  }
  .main-section-image {
    padding: 0 0 10px;
  }
  #about .inner-section {
    padding: 46px 46px 0px;
    height: 365px;
    width: 365px;
  }
  #about .inner-section h4 {
    font-size: 14px;
  }
  #about .inner-section.second-child h4, #about .inner-section.last-child h4, #kpi .inner-section h4 {
    font-size: 16.7px;
  }
  #kpi .inner-section h3 {
    font-size: 16.7px;
  }

}
@media (max-width: 420px) {
  #about .inner-section {
    padding: 30px 30px 0px;
    height: 265px;
    width: 265px;
  }
  #about .inner-section h2 , #kpi .inner-section h2 {
    font-size: 21px;
  }
  #kpi .inner-section h3 {
    font-size: 18px;
  }
  #about .inner-section h4 {
    font-size: 10px;
  }
  #about .inner-section.second-child h4, #about .inner-section.last-child h4 , #kpi .inner-section h4 {
    font-size: 12px;
  }
  #kpi .inner-section h3 {
   font-size: 12px; 
  }
  #wallet .col-lg-3 {
    border-left: 0;
    width: 180px;
  }
  .col-padding {
    padding: 20px 60px;
  }
  #footer .footer-widgets-wrap {
    padding: 20px 0;
  }
  #team .col-md-4.col-sm-4 {
    width: 98px;
  }
  .fancy-title {
    margin-bottom: 30px;
  }
  .primary-menu ul li.hide-this, #logo.hide-this {
    display: block !important;
  }
  .flash-latest-news h3 {
    font-size: 15px;
  }
  .kpi-section .kpi-heading {
    font-size: 20px;
  }
}

/*date:10-4-2018*/
.partners img {
  border-radius: unset;
  margin: auto;
}

#merchants span {
  font-style: normal;
}
#team span {
  font-style: normal;
}
#team span a{
  color: white;
}
.fab { font-size: 18px !important; }
#merchants ul {
  width:100%;
}
#merchants .partners {
  padding: 10px;
}
#merchants .partners a {
  border: 1px solid #E0AE27;
  border-radius: 6px;
  background-color: #000;
}
.partners-title {
  color: #E0AE27;
  margin-top: 15px;
}
#merchants .partners-title {
  color: #E0AE27;
  margin: 0px;
  padding: 8px 0;
}
.img-padding
{
  padding: 0em 0em 2em 0em;
}
.play-store-btn, .app-store-btn
{
  display: inline-block;
}
.play-store-btn:hover, .app-store-btn:hover
{
  background-color: unset !important;
}
.get-web-wallet-btn
{
  z-index: 299;
  position: fixed;
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  top: auto;
  right: auto;
  left: 0px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 2px;
}
.get-web-wallet-btn a
{
  text-transform: unset;
  letter-spacing: 0px;
  font-size: 15px;
}
#gotoTop
{
  background-color: #E0AE27;
}

.video_row
{ clear: both;
  margin-bottom: 70px;
}
.circle {
  position: relative;
  margin: 20px;
  height: 120px;
  width: 120px;
  background-color: orange;
  border-radius: 50%;
}

.circle:before {
  position: absolute;
content: '';
height: calc(100% + 10px);
width: calc(100% + 25px);
border: 2px dashed #E0AE27;
top: -2px;
left: -8px;
border-radius: inherit;
animation: spin 10s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
.zl-mobile
{
  display: none;
}
.zl-desktop
{
  display: block;
}
@media (max-width: 768px) {
  .zl-mobile
  {
    display: block;
  }
  .zl-desktop
  {
    display: none;
  }
  .textcenter-sm {
    text-align: center;
  }
  .team img {
    margin: 10px auto !important
  }
  #merchants .team img {
    margin: 0px auto !important
  }
  .team .team-title {
    padding-top: 5px;
  }
  #team .col-md-4 {
    width: 100% !important;
  }
  .download-link {
    word-wrap: break-word;
    font-size: 14px;
  }
  a.display-centrally img {
    width: 18%;
  }
}
.embed-responsive-4by3::before {
  padding-top: 0 !important;
}

@media (max-width: 550px) {
  .whitepaper img {
    width: 140px;
  }
}
@media (max-width: 500px) {
  /*#flash-snapshot p{
    font-size: 3.2vw;
  }*/
  .flash-icon-main {
    width: 40%;
  }
  a.display-centrally img {
    width: 26%;
  }
  #flash-snapshot h2{
    font-size: 4.6vw;
  }
}
.volunteers-title h4
{
  font-size: 18px;
}
/*date:12-5-18*/
@media (min-width: 575px) {
  .community-leader
  {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .team-advisors img {
  width: 80%;
  }
}
.team-title span
{
  padding: 3px;
}
.dark .form-control:not(.not-dark), .dark .sm-form-control:not(.not-dark) {
  color: #fff !important;
}

a.flash_button_style {
  font-size: 16px;
  line-height: 36px;
  height: 36px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 17px;
  color: #ffffff;
  border: 1px solid #d4a525;
  letter-spacing: 1px;
}

a.btn-bg-dark {
  background-color: #000;
}

a.flash_button_style:hover {
  background-color: #d4a525;
  color: #000000;
}