/* Roadmap - achievements */
#roadmap .inner-section {
  padding: 10px;
  border: 2px solid #E0AE27;
  border-radius: 6px;
  min-height: 265px;
}
#roadmap .inner-section h2 {
  margin-bottom: 5px;
  font-weight: normal;
}
#roadmap .inner-section h3 {
  margin-bottom: 0px;
  font-weight: normal;
}
#roadmap .inner-section h5 {
  margin-bottom: 0 !important;
}
#roadmap .inner-section h5 > div {
  margin-bottom: 5px;
  font-weight: normal;
}
#roadmap .inner-section .sub-section span {
  color: #FFF;
  font-weight: normal;
  font-size: 16px;
}
#roadmap .inner-section .sub-section {
  margin-bottom: 10px;
}
#roadmap .inner-section .sub-section div:first-child {
  margin: auto;
  margin-bottom: 0;
}
/*#roadmap .inner-section .sub-section div.fill-in-block {
  margin: auto;
} */
#roadmap .inner-section .sub-section span.fill-in-text {
  float: right;
  font-size: 12px;
}
#roadmap .inner-section .sub-section span.fill-in {
  height: 9px;
  color: #FFF;
  float: right;
  width: 100%;
  display: block;
  border: 1px solid #E0AE27;
  position:relative;
  background-color: #0A0A0A;
  z-index: 1;
}
#roadmap .collapse.show {
  display: flex !important;
}
#roadmap .inner-section .sub-section span.fill-in:after {
    content: '\A';  /*attr(data-width) '% Completed';*/
    position:absolute;
    background-color:#E0AE27;
    top:0;
    bottom:0;
    left:0;
    z-index: -1;
    color:#0A0A0A;
}
#roadmap .inner-section .starting-soon
{
  margin-bottom: 10px !important;
}
#roadmap .inner-section .q1-last-margin
{
  margin-bottom: 11px !important;
}
#roadmap .inner-section .q2-last-margin
{
  margin-bottom: 10px !important;
}
#roadmap .inner-section .q3-last-margin
{
  margin-bottom: 11px !important;
}
#roadmap .inner-section .q4-last-margin
{
  margin-bottom: 10px !important;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='100']:after {
  width: 100%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='95']:after {
  width: 95%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='90']:after {
  width: 90%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='80']:after {
  width: 80%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='75']:after {
  width: 75%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='70']:after {
  width: 70%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='60']:after {
  width: 60%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='55']:after {
  width: 55%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='50']:after {
  width: 50%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='40']:after {
  width: 40%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='30']:after {
  width: 30%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='25']:after {
  width: 25%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='20']:after {
  width: 20%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='15']:after {
  width: 15%;
}
#roadmap .inner-section .sub-section span.fill-in[data-width='10']:after {
  width: 10%;
}
