/* Timeline */
.timeline-section {
  display:inline-block;
  width:100%;
  overflow-x:auto;
  min-height: 250px;
}
.timeline, .timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline:before {
  top: 64px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #E0AE27;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before, .timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #E0AE27;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  border: none;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background: url('../images/_newsite/roadmap_1.png') no-repeat center ;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}
.timeline .timeline-item .timeline-badge.active {
  border: none;
  background: url('../images/_newsite/roadmap.png') no-repeat center ;
}

.timeline-horizontal {
  list-style: none;
  position: relative;
  display: inline-flex;
}
.timeline-horizontal:before {
  height: 3px;
  bottom: 45px;
  left: 6vw;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: block;
  width: 20%;
  min-width: 10.5vw;
  float: left !important;
  left: 10vw;
}

@media (max-width: 1149px) {
  .timeline-horizontal .timeline-item {
    min-width: 200px;
  }
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  bottom: 0px;
}

.timeline-heading p {
  margin: 0;
  top: -28px;
  position: absolute;
  font-size: 21px;
  left: -10px;
  text-align: center;
}
.timeline-description p {
  margin: 0;
  top: 75px;
  position: absolute;
  padding-right: 10px;
  left: -60px;
  text-align: center;
  width: 100%;
  line-height: 1.2 !important;
}

.timeline-section::-webkit-scrollbar-track
{
  /*border-radius: 5px;*/
  background-color: #0A0A0A;
}
.timeline-section::-webkit-scrollbar
{
  height: 0px;
  background-color: #0A0A0A;
}

.timeline-section::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background-color: #E0AE27;
}

.arrowLeft, .arrowRight {
  position: absolute;
  width: 40px;
  margin-top: 36px;
}
.arrowLeft {
  left: 4.6vw;
}
.arrowRight {
  left: 89.7vw;
}

@media (max-width:1640px) {
  .arrowLeft {
    left: 4.3vw;
  }
}
@media (max-width:1146px) {
  .timeline-horizontal:before {
    left: 0 !important;
  }
  .arrowLeft {
    left: -10px !important;
  }
  .arrowRight {
    left: auto !important;
    right: -10px !important;
  }
}


/* Roadmap - achievements */
#achievements .inner-section {
  padding: 10px;
  border: 2px solid #E0AE27;
  border-radius: 6px;
  min-height: 265px;
}
#achievements .inner-section h2 , #achievements .inner-section h3 {
  margin-bottom: 5px;
  font-weight: normal;
}
#achievements .inner-section .sub-section span {
  color: #FFF;
  font-weight: normal;
  font-size: 16px;
}
#achievements .inner-section .sub-section span.fill-in {
  min-height: 6px;
  /*background-color: #E0AE27;*/
  color: #FFF;
  text-align: center;
  width: 100%;
  display: block;
  border: 2px solid #E0AE27;
  position:relative;
  background-color: #0A0A0A;
  z-index: 1
}



#achievements .inner-section .sub-section span.fill-in:after {
    content: '\A';  /*attr(data-width) '% Completed';*/
    position:absolute;
    background-color:#E0AE27;
    top:0;
    bottom:0;
    left:0;
    z-index: -1;
    color:#0A0A0A;
}
#achievements .inner-section .sub-section span.fill-in[data-width='100']:after {
  width: 100%;
}
#achievements .inner-section .sub-section span.fill-in[data-width='70']:after {
  width: 70%;
}
#achievements .inner-section .sub-section span.fill-in[data-width='55']:after {
  width: 55%;
}
#achievements .inner-section .sub-section span.fill-in[data-width='15']:after {
  width: 15%;
}
