.col-sm-12.coinexchange img {
    padding-top: 20px;
    vertical-align: middle;
}
.col-sm-12.coinexchange {
    text-align: center;
}
.team-info h3 a {
    color: #000;
}
.team-info span a {
  color: #000;
}
.download-icon a .title-icon {
    color: #fff;
}
.download-icon a .title-icon:hover {
    color: #fbb215;
}
.zl-image-hover p a:hover {
    color: #fbb215 !important;
}
.zl-image-hover a p:hover {
    color: #fbb215 !important;
}
.team-img a {
  color: #000 !important;
}
.team-img span a:focus {
    color: #000 !important;
}
.team-img span a:hover {
    color: #000 !important;
}
.team-img h3 a:focus {
    color: #000 !important;
}
.team-img h3 a:hover {
    color: #000 !important;
}
.zl-our-team-read-more-btn span {
    background-color: #fbb215;
    padding: 10px 40px;
}
.zl-our-team-read-more-btn {
    padding-top: 40px;
    text-align: center;
}
.zl-our-team-read-more-btn:hover {
    color: #fbb215;
    font-weight: bold;
}
.zl-our-team-read-more-btn span:hover {
    background-color: transparent;
    border: 2px solid #fbb215;
    cursor: pointer;
}
.zl-our-team-read-more-btn span a:hover {
    color: #fbb215 !important;
}
a.zl-button-style span {
    background-color: #fbb215;
    padding: 12px 30px;
    color: #fff;
}
a.zl-button-style span:hover {
    background-color: transparent;
    border: 1.5px solid #fff;
    box-shadow: 0px 0px 5px;
}
.zl-image-hover:hover p a {
    color: #fbb215;
}
.news .section-title:after {left: 46%;}
.header-expanded .header {
  background-color: #2A3263;
  opacity: 0.9;
}
.darkHeader {
    background-color: #2A3263;
    opacity: 0.9;
    border-bottom: 1px solid rgba(234,234,234,0.5);
    box-shadow: 0 4px 10px -10px rgba(0, 0, 0, 0.6)
}
.col-md-3.slider-img {
    text-align: left;
}
.col-sm-3.slider-last-img {
    text-align: left;
}
#social-forum .row .col-sm-2.col-md-2 {
    width: 14%;
}
.wallet .media-heading:after {left: 1%;}
.wallet .media-heading:before {left: 1%;}
.Exchanges .media-heading:before {left: 1%;}
.Exchanges .media-heading:after {left: 1%;}
a.navbar-brand.top img {
    width: 80%;
    padding-top: 5px;
}
#services {
  background-size: cover;
  padding: 40px 0px 30px;
}
#feature-flash {
  padding: 20px 0 20px;
}
#Wallet {
  padding: 30px 0 30px;
}
#animated-number {
  padding: 40px 0 40px;
}
#portfolio {
  background-size: cover;
  padding: 40px 0px;
}
#meet-team {
    padding: 40px 0 20px 0;
}
#team {
    padding: 30px 0 40px 0;
}
#pricing {
    padding: 40px 0 50px 0px;
}
#roadmap {
    padding: 50px 0 20px;
}
#news {
    padding: 50px 0 50px 0px;
}
#social-forum {
    padding: 40px 0 20px 0;
}
.nav .cf .parrent_li ul.sub-menu li:hover {
    background-color: #2A3263;
}
.nav li ul.sub-menu li {
  box-shadow: none;
}
#htm {
    background: #132125 url(../images/section-feature-bg.jpg) no-repeat 0 0;
    background-size: cover;
    color: #fff !important;
}
#htm .container {
    padding: 60px 0px 0px 0px;
}
#exchange .container {
    padding: 100px 0px 0px 0px;
}
/*Key performance indicator style*/
#box-performation .form-control[readonly] {
  cursor: pointer;
  background-color: transparent;
  opacity: 1;
}
.input-group-addon {
  background-color: transparent;
}
.social-forum-img.zl-image-hover:hover a p {
    color: #fbb215;
}
.zl-anchor{
  display: block;
  height: 95px; /*same height as header*/
  margin-top: -95px; /*same height as header*/
  visibility: hidden;
}
#merchant {
    background: /*#05c6d5*/ url(../images/section-three-bg.png) no-repeat 0 0;
    background-size: cover;
    color: #fff;
    padding: 140px 0 40px 0;
}
/*github section*/
.delegated .section-title.zl-github-sec:before {
  width: 110px;
}
.delegated .section-title.zl-github-sec:after {
  position: absolute !important;
  left: 48% !important;
}
#github {
    background: /*#05c6d5*/ url(../images/section-four-bg.jpg) no-repeat 0 0;
    background-size: cover;
    color: #fff;
    padding: 60px 0 60px 0;
}
.zl-github-btn {
    text-align: center !important;
}
.zl-flash-qt-wallet-responsive-css img {
    display: flex;
}
#remittances {
    background: /*#05c6d5*/ url(../images/section-three-bg.png) no-repeat 0 0;
    background-size: cover;
    color: #fff;
    padding: 140px 0 40px 0;
}


/*Back to top button */
#zl-back-to-top {
    position: fixed;
    bottom: 35px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #fbb215;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#zl-back-to-top:hover {
  background: #bebebe;
  color: #252C59 !important;
}
#zl-back-to-top.show {
    opacity: 1;
}
/*Image hover effect*/
.zl-image-hover img
{
  transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -ms-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.zl-image-hover:hover img
{
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1)
}
/*Button effect*/
.button-custom:hover {
    border: 2px solid #fff;
    background-color: transparent;
    padding: 11px 17px;
}
/*Timeline style*/
.zl-timeline-style {
    border: 2px solid #7ab801 !important;
    border-radius: 7px !important;
}
.zl-timeline-style1 {
    border: 2px solid #05C6D5 !important;
    border-radius: 7px !important;
}
.zl-timeline-style2 {
    border: 2px solid #F7B62A !important;
    border-radius: 7px !important;
}
.zl-timeline-style3 {
    border: 2px solid #FF4162 !important;
    border-radius: 7px !important;
}
.zl-timeline-style4 {
    border: 2px solid #2C3469 !important;
    border-radius: 7px !important;
}
/*slider section style*/
.speed-meter-section {
  margin: 1em 0 0 0 !important;
}
.speed-meter-section label {
  font-family: 'Roboto-regular', sans-serif;
}
.speed-meter-section label p {
  font-size: 15px !important;
}
.speed-meter-section .speed-heading {
  margin: 0 !important;
  text-align: center !important;
}
.key-performance.section-title {
  margin-top:1.6em !important;
  margin-bottom: 0 !important
}
h4.transaction24h {
  margin-top: 2em !important;
}
/*sticky button style*/
.zl-get-wallet-sticky-btn-style {
  position: fixed;
  top: 92%;
  left: -5px;
  width: 115px;
  height: 0px;
  text-align:left;
  z-index:9999;
  margin-top:-15px;
}
.zl-get-wallet-sticky-btn-style a {
  display: block;
  background: #fbb215;
  text-align:center;
  height: 40px;
  width: 215px;
  padding: 8px 16px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}
.zl-get-wallet-sticky-btn-style a:hover {
    background-color: #fdbb2e;
}
/*back to top new*/
.zl-get-wallet-sticky-btn-style-btp {
  position: fixed;
  top: 92%;
  right: -5px;
  width: 80px;
  height: 0px;
  text-align:right;
  z-index:9999;
  margin-top:-15px;
}
.zl-get-wallet-sticky-btn-style-btp a {
  display: block;
  background: #fbb215;
  text-align:center;
  height: 40px;
  width: 50px;
  padding: 8px 16px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}
#zl-back-top {
    opacity: 0;
}
#zl-back-top.show {
    opacity: 1;
}
/*.zl-get-wallet-sticky-btn-slider-sec-style {
  position: absolute;;
  top: 55%;
  right: 0px;
  width: 190px;
  height: 0px;
  text-align:right;
  margin-top:-15px;
}
.zl-get-wallet-sticky-btn-slider-sec-style a {
  display: block;
  background: #FF5E00;
  text-align:center;
  height: 40px;
  width: 200px;
  padding: 8px 16px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}
.zl-get-wallet-sticky-btn-slider-sec-style a:hover {
    background-color: #F17022;
}*/

/*Media query*/
@media screen and (max-width: 767px) {
  a.navbar-brand.top img {width: 50%;padding-top: 15px;}
  .speed-meter-section {margin: 55px 0px 0px;}
  .speed-meter-section img {width: 80%;}
  .speed-heading {text-align: center !important;}
  #main-slider .item {height: 1350px;}
  .section-header .color-white:before {position: absolute;width: 250px !important;left: 19% !important;}
  .zl-image-responsive-style img {width: 80%;padding-top: 15px;}
  .upcoming .media-heading:before {margin-top: 11% !important;width: 300px !important;left: 5% !important;}
  .upcoming .media-heading:after {margin-top: 11% !important;width: 300px !important;left: 5% !important;}
  .wallet .media-heading:before {left: 1% !important;margin-top: 10% !important;}
  .wallet .media-heading:after {left: 1% !important;margin-top: 10% !important;}
  .Exchanges .media-heading:before {left: 1% !important;margin-top: 10% !important;}
  .Exchanges .media-heading:after {left: 1% !important;margin-top: 10% !important;}
  .zl-wallet-img-responsive-css {width: 100%;text-align: center;}
  .col-sm-6.zl-web-flash-wallet-responsive-css img {width: 80%;padding-top: 15%;}
  .zl-flash-qt-wallet-responsive-css img {width: 80%;padding-top: 15%;}
  .row.download-row .download-icon {width: 45%;display: inline-block;padding: 5px;}
  .col-sm-3.download-icon a img {width: 30%;}
  .zl-download-whitepaper-button-alignment-responsive {display: inline-block;}
  #pricing .Download .color-white:before {margin-left: 0.0em;}
  #timeline ul {margin: 0px 50%;}
  .zl-social-footer {width: 50% !important;display: inline-block !important;float: left !important;}
  .zl-tweet-img img {width: 100%;}
  .coinexchange img {padding-top: 0px !important;}
  .zl-our-team-read-more-btn {padding-bottom: 30px;}
  .row.align-button .col-sm-6:nth-child(2) {padding-top: 30px;}
  .features .zl-heading {font-size: 25px;padding: 0px 15px;}
  .col-md-3.slider-img {text-align: center;}
  .col-sm-3.slider-last-img {text-align: center;}
  #social-forum .row .col-sm-2.col-md-2 {width: 100%}
  ul.cf {width: auto;}
  .nav a {padding: 15px 7px;}
  .nav {position: absolute;top: 100px;background-color: #fbb215;width: 90%;}
  .speed-heading.media.service-box.zl-slider-title {font-size:32px;}
  .speed-meter-section.zl-slider-title{ margin: 10px 0 0 !important;}
  .zl-portfolio-sec {font-size: 32px !important;}
  /*.zl-portfolio-sec::before {position: absolute;width: 200px;}*/
  .Governance-Nodes .section-title:before { width: 100% !important; }
  .zl-exchange-htm-title {padding: 0px 15px;}
  .remitance {text-align: center;}
  .remitance img {width: auto;}
  .zl-merchant-img {text-align: center;}
  .zl-merchant-img img {width: auto;}
  .zl-key-performance {padding: 0px !important;width: 100% !important;}
  
  /* horizontal scroll issue*/
  .zl-custom-trans {
    transform: translate(0) !important;
  }

  /* nav bar */
  .activenav {
    background: #2A3263;
  }
  .header-expanded .header {
    opacity: 1;
  }
  .nav-toggle {
    right: 0 !important;
  }
  .nav {
    top: 95px;
    width: 100%;
    right: 0%;
    font-size: 13px;
    opacity: 1;
   
  }
  .nav ul {
    padding: 2px !important
  }
  .nav li.parrent_li {
    height: 37px;
  }
  .nav a {
    padding: 6px 7px !important;
  }
  .nav li ul.sub-menu {
    top: 39px;
    width: auto;
    max-width: 175px;
  }

}
